# 依赖文件夹
node_modules/

# 编译打包后的文件夹
dist/
dist-ssr/
.output/

# 日志文件
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 环境变量文件
.env
.env.*
!.env.example

# 开发工具缓存文件
.vite-cache/
.nuxt/
.next/

# 操作系统和编辑器生成的文件
.DS_Store
Thumbs.db
.idea/
.vscode/